<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p><%= @post.created_at %></p>

<h2>Comments</h2>
        <%= render "/comments/comments", comments: @post.comments %>


<h2>Add a comment:</h2>
        <%= render "/comments/form", comment: @comment %>

<% if can? :edit, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
<p>Created By: <%= @post.user_full_name.titleize %></p>
