<h1><%= @post.title %> <%= @post.likes ? @post.likes.count : '' %></h1>
  <!-- # (@post.likes.count > 1 ? "(#{@post.likes.count} likes)" : "(#{@post.likes.count} like)") : ""%></h1> -->

<p><%= @post.body %></p>

<p><%= @post.created_at %></p>

<h2>Comments</h2>
        <%= render "/comments/comments", comments: @post.comments %>


<h2>Add a comment:</h2>
        <%= render "/comments/form", comment: @comment %>

<% if can? :edit, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
<% if user_like %>
  <%= link_to "Un-Like", post_like_path(@post, user_like), method: :delete %>
<% else %>
  <%= link_to "Like", post_likes_path(@post), method: :post %>
<% end %>

<p>Created By: <%= @post.user_full_name.titleize %></p>
